.pre_container{
    border: 1px solid #373025;
    background-color: #373025;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative;
    left: 0;
    right: 0;
    top: 0; */
}

.serving_msg{
    font-style: italic;
    color: white;
}

.message_container {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    padding-top: 17px;
    color: white;
}

.message {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: changeMessage 20s infinite;
}

.message:nth-child(1) {
    animation-delay: 5s;
}

.message:nth-child(2) {
    animation-delay: 10s;
}

@keyframes changeMessage {

    0%,
    40%,
    60%,
    100% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }
}


@media (max-width:700px){

    .pre_container{
        border: 1px solid #373025;
        background-color: #373025;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        align-self: center;
        padding-top: 5px;
    }

    .serving_msg{
        font-size: large;
        padding-top: 10px;
    }

    .message_container {
        width: 300px;
        height: 100px;
        overflow: hidden;
        position: relative;
        padding-top: 10px;
        color: white;
    }
}