.pre_container {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 10;
    /* position: relative;
    left: 0;
    right: 0;
    top: 0; */
}

.panditjiMsg{
    line-height: 5px;
    color: gray;
    font-weight: bolder;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
}

.serving_msg {
    font-style: italic;
    color: rgb(113, 112, 112);
    font-family: 'Times New Roman', Times, serif ;
    font-size: 25px;
}

.message_container {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    padding-top: 17px;
    color: rgb(113, 112, 112);
}

.message {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: messageAnimation 25s infinite;
}

.message:nth-child(1) {
    animation-delay: 0s;
}

.message:nth-child(2) {
    animation-delay: 5s;
}

.message:nth-child(3) {
    animation-delay: 10s;
}

.message:nth-child(4) {
    animation-delay: 15s;
}

.message:nth-child(5) {
    animation-delay: 20s;
}

@keyframes messageAnimation {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


@media (max-width:700px) {

    .pre_container {
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
        /* align-self: center; */
        padding-top: 5px;
    }

    .panditjiMsg{
        line-height: 5px;
        color: gray;
        font-weight: bolder;
        font-size: 17px;
        font-family: 'Times New Roman', Times, serif ;
    }
     
    .serving_msg {
        font-size: 20px;
        font-weight: bolder;
        padding-top: 10px;
        font-style: none;
        font-family: 'Times New Roman', Times, serif ;
    }

    .message_container {
        width: 300px;
        height: 100px;
        overflow: hidden;
        position: relative;
        padding-top: 10px;
        color: rgb(113, 112, 112);
        font-family: 'Times New Roman', Times, serif;
    }
}