.contactUs_msg {
    border: 1px solid rgb(33, 207, 120);
    background-color: rgb(33, 207, 120);
    text-align: center;
    text-decoration: underline;
    padding: 30px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.card_container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    border: 1px solid hotpink;
    background-color: hotpink;
    padding: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.phone_class {
    border: 1px solid rgb(220, 82, 82);
    min-width: 300px;
    background-color: rgb(220, 82, 82);
    text-align: center;
    line-height: 7px;
    border-radius: 50px;
}

.facebook_class {
    border: 1px solid rgb(220, 82, 82);
    min-width: 300px;
    background-color: rgb(220, 82, 82);
    text-align: center;
    line-height: 3px;
    border-radius: 50px;
}

.instagram_class {
    border: 1px solid rgb(220, 82, 82);
    min-width: 300px;
    background-color: rgb(220, 82, 82);
    text-align: center;
    line-height: 3px;
    border-radius: 50px;
}

.map_class {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 100px;
}

.map_class h1 {
    text-decoration: underline;
}


/* CSS styles for the form */
.form_container {
    max-width: 600px;
    /* margin: 0 auto; */
}

.form_group {
    margin-bottom: 20px;
}

.form_label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form_input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.form_textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
}

.form_submit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form_submit:hover {
    background-color: #45a049;
}

.bigFormContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 5px solid hotpink;
    margin-top: 100px;
    padding-left: 300px;
    padding-right: 200px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: hotpink;
}

.form_description{
    font-size: xx-large;
    line-height: 40px;
    padding-top: 80px;
}