.contactUs_msg {
    /* border: 1px solid rgb(33, 207, 120);
    background-color: rgb(33, 207, 120); */
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    text-decoration: underline;
}

.card_container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* border: 1px solid rgba(245, 245, 245, 0.88);
    background-color: rgba(245, 245, 245, 0.88); */
    padding: 100px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border: none;
}

.phone_class {
    border: 1px solid rgba(245, 245, 245, 0.88);
    width: 300px;
    background-color: whitesmoke;
    box-shadow: 7px 7px 5px 5px grey;
    text-align: center;
    line-height: 7px;
    border-radius: 50px;
}

.facebook_class {
    border: 1px solid white;
    width: 300px;
    background-color: whitesmoke;
    box-shadow: 7px 7px 5px 5px grey;
    text-align: center;
    line-height: 3px;
    border-radius: 50px;
}

.instagram_class {
    border: 1px solid white;
    width: 300px;
    background-color: whitesmoke;
    box-shadow: 7px 7px 5px 5px grey;
    text-align: center;
    line-height: 3px;
    border-radius: 50px;
}

.map_class {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 250px;
    text-align: center;
    margin-bottom: 100px;
}

.map_class h1 {
    text-decoration: underline;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 20%;
}

.map{
    border: 0px solid white;
    width: 55%;
    height: 650px;
}


/* CSS styles for the form */
.form_container {
    max-width: 600px;
    /* margin: 0 auto; */
}

.form_group {
    margin-bottom: 20px;
}

.form_label {
    display: block;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.form_input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: black;
    font-weight: bold;
}

.form_textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: black;
}

.form_submit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form_submit:hover {
    background-color: #45a049;
}

.bigFormContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 5px solid rgba(0, 0, 225, 0.5); */
    margin-top: 150px;
    padding-left: 300px;
    padding-right: 200px;
    /* margin-left: 10%; */
    /* margin-right: 10; */
    /* background-color:rgba(0, 0, 225, 0.5); */
    border-radius: 0px;
    border: none;
}

.form_description{
    font-size: xx-large;
    color: black;
    font-weight: bold;
    line-height: 40px;
    padding-top: 80px;
}


@media (max-width:700px){

    .contactUs_msg {
        border: 1px solid white;
        background-color: white;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 15px;
        color: rgba(0, 0, 0);
        font-weight: bolder;
        margin-bottom: 0px;
        border: none;
        padding-top: 50px;
        font-family:'Times New Roman', Times, serif;
    }

    .card_container {
        display: flex;
        flex-direction: column;
        justify-content:start;
        margin-top: 0px;
        border: 1px solid white;
        background-color: white;
        margin-left: 0px;
        margin-right: 0px;
        padding: 30px;
        border-radius: 0px;
        border: none;
    }

    .phone_class {
        border: 1px solid white;
        box-shadow: 7px 7px 7px 5px rgba(128, 128, 128, 0.7);
        width: 100%;
        background-color: rgba(255, 255, 255, 0.373);
        text-align: center;
        line-height:10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .facebook_class {
        border: 1px solid white;
        box-shadow: 7px 7px 7px 5px rgba(128, 128, 128, 0.7);
        width: 100%;
        background-color: rgba(255, 255, 255, 0.373);
        text-align: center;
        line-height: 10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .instagram_class {
        border: 1px solid white;
        box-shadow: 7px 7px 7px 5px rgba(128, 128, 128, 0.7);
        width: 100%;
        background-color: rgba(255, 255, 255, 0.373);
        text-align: center;
        line-height: 10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .map_class {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        text-align: center;
        margin-bottom: 0px;
        border-width: 1px;
        /* box-shadow: 7px 7px 7px 5px rgba(128, 128, 128, 0.7); */
        /* background-color: white; */
        padding-bottom: 100px;    
    }

    .map_class h1{
        margin-top: 0px;
        padding-top: 100px;
        color: black;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .map{
        padding: 0px;
        width: 90%;
        height: 500px;
        border: 1px solid grey;
        box-shadow: 7px 7px 7px 5px grey;
        border-radius: 10px;
        width: 90%;
        margin-left: 5%;
        margin-left: 5%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form_description{
        font-size:large;
        color: black;
        line-height: 10px;
        padding-top: 20px;
        text-align: center;
    }

    .bigFormContainer{
        display: flex;
        flex-direction: column;
        border: 5px solid white;
        box-shadow: 5px 5px 5px 8px rgba(128, 128, 128, 0.57);
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: white;
        border-radius: 10px;
        border: none;
    }

    .form_input {
        width: 90%;
        padding: 10px;
        font-size: 16px;
    }

    .form_textarea {
        width: 90%;
        height: 150px;
        padding: 10px;
        font-size: 16px;
    }

    .form_container{
        margin-top: 50px;
    }

    .form_flex{
        display: flex;
        justify-content: center;
    }

    .form_submit{
        margin-bottom: 40px;
    }
    
}