.footer_container {
    border: 1px solid grey;
    /* background-color: #544d3b; */
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    align-items: center;
    position: relative;
    z-index: 10;
    box-shadow: 7px 7px 5px 5px grey;
}

.quickLink_class {
    list-style-type: none;
    line-height: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
}

.quickLink_class li a{
    font-family: 'Times New Roman', Times, serif;
}

.linkIcon_class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 120px;
}

.listItem_class {
    color: grey;
    font-weight: bolder;
}

.listItem_class:hover {
    color: brown;
    /* font-size: larger; */
    font-weight: bolder;
}

.footer_msg{
    color: gray;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.logo{
    border: 1px;
    height: 250px;
    width: 250px;
    border-radius: 400px;
}

@media(max-width:700px) {

    .footer_container {
        border: 1px solid whitesmoke;
        /* background-color: #544d3b; */
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0px;
        box-shadow: 7px 7px 5px 5px grey;
    }

    .footer_msg {
        font-size: 10px;
        margin-top: 50px;
    }

    .linkIcon_class {
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        column-gap: auto;
    }

    .listItem_class{
        font-size: 13px;
        font-weight: bolder;
        color: grey;
    }

    .quickLink_class {
        list-style-type: none;
        line-height: 35px;
        margin-bottom: 30px;
        padding-left: 5px;
    }

    .logo{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}