/* .homePageContact_class {
  border: 2px solid rgba(237, 227, 159, 0.859);
  background-color: rgba(237, 227, 159, 0.859);
  display: flex;
  justify-content: space-evenly;
  border-radius: 100px;
  height: 120px;
  width: 1500px;
  margin-top: 70px;
} */

/* .homePageContact_class p {
  font-size: xx-large;
  font-weight: bolder;
} */

.image_home {
  border: 0px solid #c0b738;
  /* padding: 10px; */
  /* border-radius: 40px; */
  width: 100%;
  height: 550px;
  margin: 0px;
}

/* .image_home:hover {
  padding: 0;
  transition-delay: 10ms;
  transition-duration: 400ms;
} */

.homeImagesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0px;
  column-gap: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text p{
  font-family:'Times New Roman', Times, serif;
  color: white;
}

.text p a{
  font-family:'Times New Roman', Times, serif;
  color: white;
}

.linkHover{
  font-family:'Times New Roman', Times, serif;
  color: white;
}

.logoHover{
  display: block;
  height: 100%;
  width: auto;
  border-radius: 500px;
  margin-bottom: 20px;
}



.message-container {
  position: relative;
  width: 400px;
  /* Adjust the width to fit your messages */
  height: 100px;
  /* Adjust the height to fit your messages */
  overflow:hidden;
}

.message {
  /* position: absolute;
  top: 400px;
  left: 600px; */
  opacity: 0;
  width: auto;
  height: 0px;
  display: flex;
  padding: 5px;
  font-weight:bolder;
  align-items: center;
  justify-content: center;
  font-size:xx-large;
  color: yellow;
  font-style: italic;
  animation: messageAnimation 50s infinite;
  margin-top: 0px;
  margin-bottom: 0px;
}

.message:nth-child(1) {
  animation-delay: 0s;
}

.message:nth-child(2) {
  animation-delay: 5s;
}

.message:nth-child(3) {
  animation-delay: 10s;
}

.message:nth-child(4) {
  animation-delay: 15s;
}

.message:nth-child(5) {
  animation-delay: 20s;
}

@keyframes messageAnimation {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.completeHomePage{
  border: 1px solid gray;
  background-image:url("/choco2.jpg");
  /* background-size: cover; */
}

.emptyDiv{
  margin-bottom: 40px;
}

.emptyDiv2{
  margin-top: 40px;
}

.QualityClass{
  width: auto;
  height: 600px;
  border: 2px solid rgba(0,0,0,0.8);
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.fssai{
  border: 1px solid white;
  border-radius: 200px;
}

.backgroundImage{
  width: 100%;
  height: 604px;
  text-align: center;
  background-image: url("/backgroundImage.jpg");
  background-size:cover;
  color: white;
  /* position: relative;
  bottom: 21px; */
} 

.backgroundImage div{
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.main_page_flex{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap:0px;
  row-gap: 0px;
}

@media(max-width:700px){

  .homePageContact_class {
    border: 1px solid rgba(237, 227, 159, 0.859);
    background-color: rgba(237, 227, 159, 0.859);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    height: auto;
    width: 90%;
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .homePageContact_class p {
    font-size: large;
    font-weight: bolder;
    padding-left: 5%;
  }

  .homeIcon_class{
    position: relative;
    top: 15px;
    left: 20px;
    color: blue;
  }

  .message{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  /* .message-container{
    margin-top: 1000px;
    border: 10px solid red;
    background-color: red;
  } */

  .homeImagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
    row-gap: 0px;
  }

  .image_home {
    border: 0px solid #cfa64f;
    padding: 0px;
    border-radius: 0px;
    width: 100%;
    height: auto;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .QualityClass{
    border: 2px solid #544d3b;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Times New Roman', Times, serif;
  }
  
  .fssai{
    border: 1px solid white;
    border-radius: 200px;
  }

  .emptyDiv{
    margin-bottom: 70px;
  }

  .emptyDiv2{
    margin-top: 100px;
  }

  .backgroundImage{
    width: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-image: url("/background2.jpg");
    background-size:cover;
    margin-bottom: 0px;
    color: rgb(235, 255, 80);
    margin-top: 0px;
    font-family:'Courier New', Courier, monospace;
  }

  .backgroundImage div{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .completeHomePage{
    border: 1px solid #edeef0;
    background-image:url("/background2.jpg");
  }

  .main_page_flex{
    display: flex;
    flex-direction: column;
  }

  /* .overlay{
    border: 1px solid rgb(0,0,0);
    background-color: rgb(0,0,0);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  } */
  
}