body {
  background-color: rgb(188, 180, 180);
  margin: 0px;
  padding: 0px;
}

@media (max-width: 700px) {
  /* CSS rules for screens with a maximum width of 700px */

  body {
    background-color: red;
    /* Example: Change background color to red */
  }

  /* Add any other styles specific to screens with a maximum width of 700px */
}