body{
  background-color: rgb(188, 180, 180);
  margin: 0px;
  padding: 0px;
}

/* .Sweets{
  margin: 50px;
}

.Sweets img{
  margin: 25px;
}

.Sweets img:hover{
  transition-delay: 100ms;
  transition-duration: 2s;
  height: 600px;
  width: 600px;
} */


